$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-breakpoint" : 1460px
) !default;

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }

  @if $type==max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin flex($justify, $align: 'center', $wrap: false, $direction: false) {
    display: flex;
    @if $wrap == false {
        flex-wrap: nowrap;
    }
    @else if $wrap==wrap {
        flex-wrap: wrap;
    }
    @if $direction {
        flex-direction: $direction;
    }
    justify-content: $justify;
    align-items: $align;
}
